{% macro displayBlogs(blogs) %}
    {% for blog in blogs %}
        <div class="col-md-12">
            <h3><a href="{{url_for('main.blog',id=blog.id)}}">{{blog.title}}</a></h3>
            <p> {{blog.blog_content|truncate(300)}}<a href="{{url_for('main.blog',id=blog.id)}}">View More</a> </p>
            <p class="small"> {{blog.date_posted}} </p>
        </div>
    {% endfor %}
{% endmacro %}

{% macro displayComments(comments) %}
    {% for comment in comments %}
        <div class="col-md-12">
            <blockquote class="blockquote text-center">
                <p class="mb-0"> {{comment.comment_content}} </p>
                <footer class="blockquote-footer"> {{comment.name}} <cite title="Source Title"> {{comment.date_comment}} </cite></footer>
            </blockquote>
        </div>
    {% endfor %}
{% endmacro %}