{% macro displayBlogs(blogs) %}
    {% for blog in blogs %}
        <div class="col-md-3 blogs-snippet">
            {% if blog.blog_pic %}
            <img src="{{url_for('static',filename = blog.blog_pic)}}" alt="Loading Image" class="img-thumbnail">
            {% else %}
            <img src="{{url_for('static',filename='img/bg-blog.jpeg')}}" alt="blog-image">
            {% endif %}
            <div class="blog-snippet-content">
                <h3><a href="{{url_for('main.blog',id=blog.id)}}">{{blog.title}}</a></h3>
                <p> {{blog.blog_content|truncate(300)}}<a href="{{url_for('main.blog',id=blog.id)}}">View More</a> </p>
                <p class="small"> {{blog.date_posted}} </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro displayComments(comments) %}
    {% for comment in comments %}
        <div class="col-md-12">
            <blockquote class="blockquote text-center">
                <p class="mb-0"> {{comment.comment_content}} </p>
                <footer class="blockquote-footer"> {{comment.name}} <cite title="Source Title"> {{comment.date_comment}} </cite></footer>
            </blockquote>
            {% if current_user.is_authenticated%}
            <p><a href="{{url_for('main.delete_comment',id=comment.blog_id,id_comment=comment.id)}}">delete</a></p>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
