<div id="navbar" class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="/">Home</a>
    <a href="#">Subscribe</a>
    {% if current_user.is_authenticated %}
    <a href="{{url_for('main.create_blog')}}">Create Blog</a>
    <a href="{{url_for('admin.register')}}">Create user</a>
    <a href="{{url_for('admin.logout')}}">Sign Out</a>
    {% else %}
    <a href="{{url_for('admin.login')}}">Admin</a>
    {% endif %}
</div>

<div class="container-fluid open-navbar">
    <div class="row">
        <span class="open-nav">&#9776;</span>
    </div>
</div>